<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>College Financial Planning Aid</title>
    <link
      rel="stylesheet"
      href="stylesheets/aid_by_AID.css">
  </head>
  <body>
    <div class="header"><img src="stylesheets/logo.png" height = 100px></div>

    <div class="header"></div>
    <h1>ADD A NEW COLLEGE</h1>
    <p>Please enter the college's name and associated annual costs below. Do not include the dollar sign ($) in your entry. Feel free to also use the notes section to include any personal notes or reminders relevant to the specified college:</p>
    <br>

    <div class="container">
      <form method="POST" action="/add_college">

          <div class="row">
            <div class="col-25">
              <label for="name">C O L L E G E :</label>
            </div>
            <div class="col-75">
              <input type="text" id="name" name="college_name" placeholder="College/University name...">
            </div>
          </div>
<br>
        <div class="row">
          <div class="col-25">
            <label for="name">T U I T I O N :</label>
          </div>
          <div class="col-75">
            <input type="text" id="tuition" name="tuition" placeholder= "Annual Cost of Tuition...">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-25">
            <label for="name">H O U S I N G :</label>
          </div>
          <div class="col-75">
            <input type="text" id="housing" name="housing" placeholder= "Annual Cost of On or Off-Campus Housing...">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-25">
            <label for="name">F O O D :</label>
          </div>
          <div class="col-75">
            <input type="text" id="food" name="food" placeholder= "Annual cost of meal plan or estimate of food cost...">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-25">
            <label for="name">T R A N S P O R T A T I O N :</label>
          </div>
          <div class="col-75">
            <input type="text" id="travel" name="travel" placeholder= "Annual cost of plane flights and/or daily commute...">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-25">
            <label for="name">B O O K S :</label>
          </div>
          <div class="col-75">
            <input type="text" id="books" name="books" placeholder= "Annual cost of books...">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-25">
            <label for="subject">N O T E S :</label>
          </div>
          <div class="col-75">
            <textarea id="notes" name="notes" placeholder="Any additional notes/comments.." style="height:200px"></textarea>
          </div>
        </div>
    </div>

        <div class="row">
          <input type="submit" value="S U B M I T">
        </div>

      </form>
  </body>
</html>
