<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>College Financial Planning Aid</title>
    <link
      rel="stylesheet"
      href="stylesheets/aid_by_AID.css">
  </head>
  <body>
    <div class="header"><img src="stylesheets/logo.png" height = 100px></div>
    <div class="header"></div>
    <br>
    <a href="{{logout_url}}">LOGOUT</a>
    <div class="button">
      <a class="button"href="/add_college" > ADD/EDIT A COLLEGE </a>
    </div>
    <div class="button">
      <a href="/AddStudent" > ADD/EDIT YOUR PROFILE </a>
    </div>
    <br>
    <div class="tbl-header">
      <table id="college_table">
        <thead>
          <tr>
            <th>School</th>
            <th>Tuition</th>
            <th>Housing</th>
            <th>Food</th>
            <th>Travel</th>
            <th>Total</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="tbl-content">
      <table>
        <tbody>
          {% for colleges in college %}
            <tr>
              <td class="schoolname">{{colleges.college_name}}</td>
              <td>${{colleges.tuition}}</td>
              <td>${{colleges.housing}}</td>
              <td>${{colleges.food}}</td>
              <td>${{colleges.travel}}</td>
              <td class = "total">{% set total = colleges['tuition'] + colleges['housing'] + colleges['food']%} ${{total}}</td>
            </tr>
          {% endfor %}
          <script type="text/javascript" src="/scripts/MainPage.js">
          </script>
        </tbody>
      </table>
    </div>
    <br>
    <br>


</html>
