<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>College Financial Planning Aid</title>
    <link
      rel="stylesheet"
      href="stylesheets/aid_by_AID.css">
  </head>
  <body>
    <a href="{{logout_url}}">LOGOUT</a>
    <h4>(USERS NAME), financially, your best option appears to be..(SCHOOL NAME W LOWEST NET COST)</h4>
      <table id="college_table" border=".5">

        <tr>
          {% for colleges in college %}
          <th scope="col" id="college_table">College Name: {{colleges.college_name}} </th>
          {% endfor %}
        </tr>

        <tr>
          {% for colleges in college %}
          <td>Tuition: {{colleges.tuition}}</td>
          {% endfor %}
        </tr>

        <tr>
          {% for colleges in college %}
          <td>Housing: {{colleges.housing}}</td>
          {% endfor %}
        </tr>

        <tr>
          {% for colleges in college %}
          <td>Food: {{colleges.food}}</td>
          {% endfor %}
        </tr>

        <tr>
          {% for colleges in college %}
          <td>Travel: {{colleges.travel}}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for colleges in college %}
          {% set total = colleges['tuition'] + colleges['housing'] + colleges['food']%}
          <td class = "total" data-total = "{{total}}">Total: {{total}}</td>
          {% endfor %}
        </tr>
    </tbody>
  </table>


    <br>
    <br>

    <div class="button">
      <a href="/add_college" > ADD/EDIT A COLLEGE </a>
    </div>

    <div class="button">
      <a href="/AddStudent" > ADD/EDIT YOUR PROFILE </a>
    </div>

    <br>
    <br>
  <script type="text/javascript" src = "/scripts/MainPage.js">

  </script>
  </body>

</html>
