<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href = "stylesheets/aid_by_AID.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <div class="header">
    <img class="logo" class="logoimage" src="stylesheets/logo.png" height = 90px>
    <p class= "logo" >Your Personal College Financial Planner</p>
    <a class = "myButton" href="/" > HOME </a>
    <a class = "myButton" href="/AddStudent" > + PROFILE </a>
    <a class = "myButton" href="/preloaded_colleges" > + COLLEGE </a>
    <a class = "myButton" href="/add_college" > CREATE COLLEGE </a>
    <a class = "myButton" href="{{logout_url}}" > LOGOUT </a>
  </div>
  <body>
    <form action="/preloaded_colleges" method="POST">

      <div class="container scroll">
        <br>
        <br>
      {% for colleges in college %}

      <input type="checkbox" name="{{colleges.college_name}}">{{colleges.college_name}}</li>
      <br>
      <br>
      {% endfor %}
      </div>

      <br>
      <input type="submit" name="" value="ADD SELECTED COLLEGES">
    </form>

  </body>
</html>
