<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href = "aid_by_AID.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header"><img src="stylesheets/logo.png" height = 100px></div>


    <form class="" action="/college_list" method="POST">
      {% for colleges in college %}
      <ul>
      <li><input type="checkbox" name="{{colleges.college_name}}">{{colleges.college_name}}</li>
      </ul>
      {% endfor %}
      <input type="submit" name="" value="done">
    </form>

  </body>
</html>
