<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>College Financial Planning Aid</title>
    <link
      rel="stylesheet"
      href="stylesheets/aid_by_AID.css">
  </head>
  <script type="text/javascript" src="scripts/StudentProfile.js">
  </script>
  <body>
    <div class="header">
      <img class="logo" class="logoimage" src="stylesheets/logo.png" height = 90px>
      <p class= "logo" >Your Personal College Financial Planner</p>
      <a class = "myButton" href="/" > HOME </a>
      <a class = "myButton" href="/AddStudent" > + PROFILE </a>
      <a class = "myButton" href="/preloaded_colleges" > + COLLEGE </a>
      <a class = "myButton" href="/add_college" > ADD COLLEGE </a>
      <a class = "myButton" href="{{logout_url}}" > LOGOUT </a>
    </div>
    <br>
    <br>
    <div class="marginneeded">
    <div class="container">
      <h1>ADD YOUR PROFILE</h1>
      <p> <i>Please enter your profile information below</i></p>
      <form method="POST" action="/AddStudent" class="marginneeded">

          <div>
            <div class="flex-student-name">
              <input class="row" type="text" id="student_name" name="student_name" placeholder="Your name...">
            </div>
            <div class="flex-student-rows">
              <input class="row" type="text" id="home_location" name="home_location" placeholder="Your home city...">
              <input class="row" type="text" id="budget" name="budget" placeholder="Your annual budget...">
            </div>
            <div class="flex-student-rows1">
              <input class="row" type="text" id="grants" name="grants" placeholder="Total scholarship $ applicable anywhere...">
              <input class="row" type="text" id="email" name="email" placeholder="Your email...">
            </div>
        </div>
<br>
        <div class="row">
          <input type="submit" value="S U B M I T">
        </div>

      </form>
    </div>
    </div>
      <script type="text/javascript" src = "/scripts/MainPage.js">

      </script>
  </body>
</html>
