<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>College Financial Planning Aid</title>
    <link
      rel="stylesheet"
      href="stylesheets/aid_by_AID.css">
  </head>
  <script type="text/javascript" src="scripts/StudentProfile.js">
  </script>
  <body>
    <div class="header">
      <img src="stylesheets/logo.png" height = 70px>
      <p>Your Personal College Financial Planner</p>
      <a class = "myButton" href="/" > HOME </a>
      <a class = "myButton" href="{{logout_url}}" > LOGOUT </a>
      <a class = "myButton" href="/add_college" > + COLLEGE </a>
      <a class = "myButton" href="/AddStudent" > + PROFILE </a>
    </div>
    <br>
    <h1>ADD YOUR PROFILE</h1>
    <p> Please enter your profile information below</p>

    {% for flight_prices in prices %}
    <p>{{flight_prices}}</p>
    {%endfor%}

    <br>
    <div class="container">
      <h1>ADD YOUR PROFILE</h1>
      <p> <i>Please enter your profile information below</i></p>
      <form method="POST" action="/AddStudent">

          <div class="row">
            <div class="flex-student-name">
              <input type="text" id="student_name" name="student_name" placeholder="Your name...">
            </div>
            <div class="flex-student-location">
              <input type="text" id="profile_location" name="student_location" placeholder="Student's location...">
            </div>
            <div class="flex-student-rows">
              <input type="text" id="home_location" name="home_location" placeholder="Your home city...">
              <input type="text" id="budget" name="budget" placeholder="Your annual budget...">
            </div>
            <div class="flex-student-rows1">
              <input type="text" id="grants" name="grants" placeholder="Total scholarship $ applicable anywhere...">
              <input type="text" id="email" name="email" placeholder="Your email...">
            </div>
        </div>

        <div class="row">
          <input type="submit" value="S U B M I T">
        </div>

      </form>
      <script type="text/javascript" src = "/scripts/MainPage.js">

      </script>
  </body>
</html>
